body {
    font-family: 'Montserrat';
}

.header-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.3em;
    color: #111111;
}

.header-logo-italic {
    font-style: italic;

}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}